.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_heading {
    font-size: 1.6rem;
    font-weight: 600;
    color: $text-primary;
    margin: 0 1rem 0.8rem;
    text-align: left;
  }
  &_paragraph {
    font-size: 1.4rem;
    font-weight: 400;
    color: $text-primary;
    margin: 0 1rem;
  }
  &_img {
    height: 16rem;
    margin-bottom: 3rem;
    img {
      height: 100%;
      max-width: 100%;
    }
  }
}
